body {
  margin: 0;
  font-family: "Andale Mono", "Noto Sans", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
